@charset "utf-8";
/* CSS Document */

.bg-nav{
	background-color:#EBDEC5;
	opacity: 0.5;
	
}
.bg-pic{
	background: url("../img/tulip.jpg");
	background-size: cover;
}
.jumbo{
	height: 100vh;
}
.thick {
  font-weight: bold;
}
.body{
	height: 100vh;
	margin: 0;
	padding: 0;
	text-align: center;
background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
	background-attachment: fixed;
	background-blend-mode: difference;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.contact-title{
	margin-top: 100px;
	color:#000000;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}
.contact-title h1{
	font-size: 32px;
	line-height: 10px;
}
.contact-title h2{
	font-size: 16px;
}
.form{margin-top:auto; transition: all 4s ease-in-out}
.form-control{
	width: 70vw;
	background: rgba(0,0,0,0.00);
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #FFF;
	font-size: 18px;
	margin-bottom: 20px;
}
.input{height: 45px;}
form .submit{
	background: #EBDEC5;
	border-color:transparent;
	color:#000000;
	font-weight: bold;
	letter-spacing: 3px;
	height: 50px;
	margin-top: 10px;
	opacity: 0.5;
}
form .submit:hover{
	background: #EBDEC5;
	cursor: pointer;
	
}